.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 3rem 0;
  
}
.slider--container h3 {
  text-align: center;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.truck {
  color: var(--third-color);
  font-weight: bolder;
  font-size: 5rem;
}

.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide {
    height: 98px ;
    width: 228px;
    margin: 0 5px;
    border-radius: 7px;
    overflow: hidden;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/* Mixin non nécessaire en CSS pur, car il est spécifique à Sass */
