@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;600&family=Gabarito&family=Hanken+Grotesk:wght@100&family=Lobster+Two:ital@1&family=Poppins:ital,wght@0,300;0,400;1,400&family=Quicksand:wght@500;700&family=Roboto+Slab:wght@100;700&display=swap');


:root {
  --bg-color: #f3f3f3;
  --primary-color: #6ec8f1;
  --secondary-color: #ffe68c;
  --third-color: #81e8cf;
  --button-primary-color: #46a4ca;
  --text-color:#353837;
  --prim-color: #0f3460;
  --error: #e7195a;
}


html {
  scroll-behavior: smooth;
}

svg {
  color: var(--secondary-color);
}

body {
  background: var(--bg-color);  
  overflow-x: hidden;
  transition: background 0.2s ease;
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ::-webkit-scrollbar-thumb {
  background: red;
} */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(155, 155, 155);
  padding: 5px 3px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 7px;
}

.primary--button {
  color: #fff;
  border: 2px solid var(--primary-color);
  padding: 6px 17px;
  border-radius: 20px;
  font-family: "Poppins";
  font-size: 14px;
  cursor: pointer;

  background: var(--button-primary-color);
}

.secondary--button {
  border: 2px solid var(--primary-color);
  padding: 6px 17px;
  border-radius: 20px;
  font-family: "Poppins";
  font-size: 14px;
  cursor: pointer;
  color: var(--button-primary-color);

}

button:disabled {
  cursor: no-drop;
  background: red;
}

.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

.disabled {
  background-color:  #dcdcdc !important;

}
