
.landing {
  display: flex;
  gap: 5rem;
  flex-direction: column;
}

.landpagecontent{
  display: flex;
  justify-content: space-between;
  margin-top: 14vh;
}
.paragraphe{
  position: relative;
  width: 50%;
 margin: 10%;
  background-color: transparent;
  font-size: 35px;
  margin-bottom: 5%;
  max-width: 20%;
}
.paragraphe img{
  position: absolute;
  top: -163px;
  left: -55px;
}

.landing-parag {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.landing-parag div {
  display: flex;
  gap: 1rem;
}

